<ion-header>
  <ion-toolbar color="primary">
  <ion-title>
  <div class="hcs">
    <img src="assets\img\logotipo.png"  width="40" height="40" alt="Sweet Dreams"> 
   <h3>My Account</h3>
  </div>
  </ion-title>
  </ion-toolbar>
  </ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let profile of listprofiles">
      <ion-item >
       
        <ion-label>
          {{ profile.name }} {{ profile.lastname }}
          <p>{{ profile.phone }}</p>
          <p>{{ profile.address }}</p>
        </ion-label>
      </ion-item>
</ion-item>
</ion-list>
</ion-content>
<ion-content>
<ion-button color ="secondary" (click)="profile()" expand="block">
  Manage Account
</ion-button>
<ion-button color ="danger" (click)="logout()" expand="block">
 Logout
</ion-button>
</ion-content>
<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button [routerLink]="['/home']">
      <ion-icon name="list-circle-outline"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/tab1']">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/tab2'] ">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>My account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>

  