<ion-header>
  <ion-toolbar color="primary">
  <ion-title>
  <div class="hcs">
    <img src="assets\img\logotipo.png"  width="40" height="40" alt="Sweet Dreams"> 
   <h3>My Account</h3>
  </div>
  </ion-title>
  </ion-toolbar>
    </ion-header>


<ion-content>
  
   <!-- profile info-->
   <ion-list *ngFor="let profile of listprofiles">
      <ion-item lines="none" >
          <ion-label>
          {{ profile.name }} {{ profile.lastname }}
          <p>{{ profile.phone }}</p>
          <p>{{ profile.address }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <!-- orders info-->
    <ion-item lines="none" >
      <ion-icon name="file-tray-full-outline" slot= "start"></ion-icon>
      <ion-label>
     My Orders
    </ion-label>
  </ion-item>
 

  <!-- fab placed to the bottom and start and on the bottom edge of the content overlapping footer with a list to the right -->
<ion-fab vertical="bottom" horizontal="end" edge slot="fixed">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start">
    <ion-fab-button><ion-icon [routerLink]="['/home']" name="list-circle-outline"></ion-icon></ion-fab-button>
    <ion-fab-button><ion-icon [routerLink]="['/tab1']" name="cart-outline"></ion-icon></ion-fab-button>

  </ion-fab-list>
</ion-fab>

<ion-button color ="secondary" (click)="profile()" expand="block">
  Manage Account
</ion-button>
<ion-button color ="danger" (click)="logout()" expand="block">
 Logout
</ion-button>
</ion-content>

<footer>
  <ion-toolbar color="primary">
   
    </ion-toolbar>
</footer>