<ion-header>
  <ion-toolbar color="primary">
  <ion-title>
  <div class="hcs">
    <img src="assets\img\logotipo.png"  width="40" height="40" alt="Sweet Dreams"> 
   <h3>  Cart</h3>
  </div>
  </ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-list> 
  <ion-item>

    <ion-label>Category</ion-label>
    <ion-select (ionChange)="searchProduct()" [(ngModel)]="SelectCategory">
      <ion-select-option value="" [selected]="true">All</ion-select-option>
      <ion-select-option *ngFor="let category of categories | async" [value]="category.key">{{ category.nome }}
      </ion-select-option>
    </ion-select>

  </ion-item>

  <ion-item *ngFor="let product of listproducts | async" (click)="addProduct(product.key)">
    <ion-label text-wrap>
      <h1>{{ product.name }}</h1>
      <h2>{{ product.type }}</h2>
      <pre text-wrap>{{ product.description }}</pre>
      <app-valor [valor]="product.price"></app-valor>
    </ion-label>
  </ion-item>
</ion-list>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="carrinhoPossuiItens">
  <ion-fab-button [routerLink]="['/pedido/carrinho']" color="secondary">
    <ion-icon name="cart"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>

<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button [routerLink]="['/home']">
      <ion-icon name="list-circle-outline"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/tab1']">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/tab2'] ">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>My account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>