<ion-header>
  <ion-toolbar color="primary">
  <ion-title>
  <div class="hcs">
    <img src="assets\img\logotipo.png"  width="40" height="40" alt="Sweet Dreams"> 
   <h3>  Cart</h3>
  </div>
  </ion-title>
  </ion-toolbar>
  </ion-header>
<ion-content>
  <ion-fab vertical="bottom" horizontal="end" edge slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button><ion-icon [routerLink]="['/home']" name="list-circle-outline"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon [routerLink]="['/tab2']" name="person-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  
</ion-content>

<footer>
  <ion-toolbar color="primary">
   
    </ion-toolbar>
</footer>